<%= title(t('.title')) %>

<div class="row">
  <div class="col-2"></div>
  <div class="col-8 mb-4">
    <% @bookmarks.each do |bookmark| %>
      <%= render 'articles/article', article: bookmark %>
    <% end %>
  </div>
</div>