<% comments.each do |comment| %>
  <div id=<%= "comment-#{comment.id}"%>>
    <% if !comment.spam %>
      <%= render 'comments/comment', comment: comment %>
    <% else %>  
      <%= render 'comments/spam', comment: comment %>
    <% end %>
  </div>
<% end %>
