<%= form_with model: Comment.new, remote: true, id: "comment-form-#{commentable.id}" do |f| %>
  <div class="form-group">
    <%= f.hidden_field :commentable_id, value: commentable.id, id: "commentable_id_#{commentable.id}" %>
    <%= f.hidden_field :commentable_type, value: commentable.type, id: "commentable_type_#{commentable.type}_#{commentable.id}" %>
    <%= f.text_field :body, class: "form-control", placeholder: t('comments.form.add_new_comment'), id: "comment-form-#{commentable.type_with_id}-body" %>
  </div>
<% end %>
