<div class="row">
  <div class="col-12 comment">
    <p class="text-center"><%= t('comments.show.warning') %></p>
    <div class="text-center">
      <%= link_to t('button.show'), comment_path(comment), class: "btn btn-danger", remote: true %>
    </div>
  </div>
</div>
<hr>
