<div class="row">
  <div class="col-12 comment">
    <p class="text-center">Данный комментарии может содерать не приемлимый контент</p>
    <div class="text-center">
      <%= link_to "Показать", comment_path(comment), class: "btn btn-danger", remote: true %>
    </div>
  </div>
</div>
<hr>
