<%= title "Новости" %>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8 mb-4">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Добавить новость" id="article-form-field">
    </div>
    <%= render 'articles/form', article: @article %>
  </div>
</div>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8" id="articles-index">
    <%= render @articles %>
  </div>
</div>
<%= render 'layouts/paginate', objects: @articles %>