<div class="card mb-2 <%= notification.read_at ? '' : 'unread'%>">
  <div class="card-body">
    <p class="card-text">
      <%= avatar notification.actor %>
      <%= notification.action %>
      <br>
      <%= notification.created_time %>
    </p>
  </div>
</div>