<div class="card mt-4" style="width: 18rem;">
  <span class="badge badge-light"><%= label %></span>
  <div class="card-body">
    <% users.each do |sub| %>
      <%= link_to user_path(sub) do %>
        <%= avatar sub %>
      <% end %>
    <% end %>
  </div>
</div>
