<div class="row">
  <div class="col-1"></div>
  <div class="col-10" id="users-index">
    <% users.each do |user| %>  
        <%= render 'users/user', user: user %>
    <% end %>
  </div>
  <div class="col-1"></div>
</div>