<div class="form-group">
  <input type="text" class="form-control" placeholder="Добавить новость" id="picture-form-field">
</div>
<% if current_user == @user %>  
  <%= render 'pictures/form' %>
<% end %>
<br>
<%= render 'pictures/pictures', pictures: @pictures %>