<%= title(t '.title') %>

<% if current_user == @user %>  
  <div class="form-group">
    <input type="text" class="form-control" placeholder="<%=t('.form')%>" id="picture-form-field">
  </div>
  <%= render 'pictures/form' %>
<% end %>
<br>
<%= render 'pictures/pictures', pictures: @pictures %>