<h1>Home#welcome</h1>
<p>Find me in app/views/home/welcome.html.erb</p>
<%= link_to "Зарегистрироваться", new_user_registration_path, class: "btn btn-primary" %>
<%= link_to "Войти", new_user_session_path, class: "btn btn-primary" %>