<div class="row mt-5">
  <div class="col-4"></div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">Добро пожаловать</h1>
      </div>
      <%= link_to "Зарегистрироваться", new_user_registration_path, class: "btn btn-primary" %>
      <%= link_to "Войти", new_user_session_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="col-3"></div>
</div>
