<div class="row mt-5">
  <div class="col-4"></div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center"><%= t('.welcome_message') %></h1>
      </div>
      <%= link_to t('authorization.signup'), new_user_registration_path, class: "btn btn-primary" %>
      <%= link_to t('authorization.singin'), new_user_session_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="col-3"></div>
</div>
