<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <% dialogs.each do |dialog| %>
        <%= link_to dialog_path(dialog) do %>
          <%= render 'dialogs/dialog', dialog: dialog %>
        <% end %>
    <% end %>
  </div>
  <div class="col-1"></div>
</div>