<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <div id="dialog-id" dialog-id="<%= @dialog.id %>"></div>
    <div class="card chat-box">
      <ul id="messages">
        <% @dialog.messages.each do |message| %>
          <%= render 'messages/message', message: message %>
        <% end %>
      </ul>
    </div>
    <%= render 'messages/form', message: @message, dialog_id: @dialog.id%>
  </div>
  <div class="col-1"></div>
</div>
