#article-form {
  display: none;
}
.liked {
  color: red;
}
.fa-heart:hover {
  cursor: pointer;
}
.fa-comment-alt {
  cursor: pointer;
}

.drop-menu-grip {
  cursor: pointer;
  margin-left: 10px;
}
.item-header {
  display: flex;
  justify-content: space-between;
}