a {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
#infinite-scrolling {
  display: none;
}
.sidebar li:hover {
  background-color: lightgray;
  text-decoration: none;
}