.avatar-message {
  padding: 0px !important;
}
.message-body {
  list-style-type: none;
  padding: 0px !important;
}
.message-username {
  padding: 0px !important;
}
.card-image {
  width: 60% !important;
}