.card-img-wrapper {
  border-radius: 30 !important;
}
#picture-form {
  display: none;
}

.avatar {
  line-height: 0; /* remove line-height */
  display: inline-block; /* avatar wraps image */
  margin: 5px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%; /* relative value */
  transition: linear 0.25s;
  height: 32px;
  width: 32px;
}
.avatar img {
  border-radius: 50%;
}
.avatar:hover {
  transition: ease-out 0.2s;
  border: 2px solid rgba(255, 255, 255, 0.8);
  -webkit-transition: ease-out 0.2s;
}
a.avatar {
  color: transparent;
}
.user-card:hover {
  background-color: lightgray;
}
.user-card-image {
  border-radius: 30 !important;
}

.pictures-area {
  height: 800px;
  overflow-y: auto;
  overflow-x: hidden;
  border: gray;
}
.photo-item {
  // height: 286px;
  // width: 180px;
  cursor: pointer;
}
.online {
  border-color: green;
  border-style: solid;
}