<ul class="navbar-nav mr-auto">
  <% if user_signed_in? %>
    <li class="nav-item" id="money-title" title="<%= current_rate_title %>">
      <span class="nav-link" id="money"><%= current_rate_usd %></span>
    </li>
  <% end %>
</ul>
