<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <%= link_to "Talker", root_path, class: "navbar-brand" %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= render 'partials/money' %>
      <%= render 'layouts/menu_notifications' %>
      <div class="my-2 my-lg-0">
        <%= render 'layouts/menu_for_user' %>
      </div>
    </div>
  </div>
</nav>
